body {
    height: 100vh;

}
.carousel img {
    height: 10em;
    width: 100%;
    object-fit: cover;
}

nav img {
    height: 1.5em;
    cursor: pointer;
}

.actus{
    height: auto;
    border-left: 5px solid red;
    background-color: #f5f5f5;
   
}
.culture {
    height: auto;
    border-left: 5px solid green;
    background-color: #f5f5f5;
}
.sport {
    height: auto;
    border-left: 5px solid orange;
    background-color: #f5f5f5;
}
.pixels {
    height: auto;
    border-left: 5px solid blueviolet;
    background-color: #f5f5f5;
}
.economie {
    height: auto;
    border-left: 5px solid blue;
    background-color: #f5f5f5;
}
.actus-img {
    margin: auto;
    padding: 0;
}
.actus-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.actus-img img {
    width: 100%;
    height: auto;
   
}

.arrow {
    height: 2em;
    width: 2em;
    cursor: pointer;
}


.footer {
    height: 2em;
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
    padding-top: 2em;
}
.date {
    font-size: 0.8em;
    color: #000;
}
.title {
    font-size: 1em;
    color: #000;
    text-decoration: none;
}
.title:hover {
    text-decoration: underline;
}