body {
    height: 100vh;
}
.carousel img {
    height: 10em;
    width: 100%;
    object-fit: cover;
}

nav img {
    height: 1.5em;
    cursor: pointer;
}
.actus{
    height: auto;
    border-left: 5px solid red;
   
}
.culture {
    height: auto;
    border-left: 5px solid green;
}
.sport {
    height: auto;
    border-left: 5px solid orange;
}
.pixels {
    height: auto;
    border-left: 5px solid blueviolet;
}
.economie {
    height: auto;
    border-left: 5px solid blue;
}
.actus-img {
    margin: auto;
}
.actus-img img {
    height: 5em;
    object-fit: cover;
}

.arrow {
    height: 2em;
    width: 2em;
    cursor: pointer;
}


.footer {
    height: 2em;
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
    padding-top: 2em;
}
.date {
    font-size: 0.8em;
    color: #000;
}
.title {
    font-size: 1em;
    color: #000;
    text-decoration: none;
}
.title:hover {
    text-decoration: underline;
}